<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- gets text1 as param if it exists if not output default value (default text for text1) -->
    <%= locals.text1 || "default text for text1"%>

    
</body>
</html>